.buttons {
	border:1px solid black;
	height: 487px;
	padding-top: 16px;
}
.btn {
	border-color: black;
	border-width: 1px;
	padding: 16px 32px;
	font-size: 24px;
	display: inline-block;
	cursor: pointer;
	width: 100px;
	height: 70px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
.btn-info {
	font-size: 28px;
}
.btn-danger {
	background-color: #ff1919;
}
.btn-success {
	width: 210px;
}
.btn-primary {
	background-color: white;
	color: black;
}
.btn:hover{
	transform: scale(1.1);
	border-color: black;
	border-width: 1.5px;
}
.btn-primary:hover {
	background-color: #C0C0C0;
	color: white;
}
.btn-info:hover {
	background-color: #00cc9d;
}
.btn-danger:hover {
	background-color: #ff0000;
}