.btn {
	border-color: black;
	padding: 16px 32px;
	font-size: 24px;
	display: inline-block;
	cursor: pointer;
	width: 100px;
	height: 70px;
	margin-bottom: 5px;
	margin-right: 5px;
	margin-top: 5px;
}
.btn-info {
	font-size: 28px;
}
.btn-success {
	width: 210px;
}
.btn-primary {
	background-color: white;
	color: black;
}
.btn-primary:hover {
	background-color: #C0C0C0;
	color: white:;
}